/** Login Page***/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);



body {
  background:url(images/login2-bg.jpg) scroll 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.login-card {
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 30px auto 10px;
    overflow: hidden;
    padding: 40px;
    width: 314px;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}


/** INDEX PAGE**/
a{color:#8C1515}


a:hover{color:#8C1515;}

.float-right{float:right}
.float-left{float:left}
.am-header{background:#8C1515}

.search-field{width: 220px;
height: 30px;
color: #5F574F;
padding: 4px 33px 4px 10px;
border: 2px solid #E9E6DF;
background-color: #FBFBF9;
border-radius: 8px;

right: 0px;}


.am-container-margin{
margin-top:15px;
}

.am-select-option{}
.am-header-width{
color:white;
}
header{
z-index: 999;
padding: 12px 0px 18px;
background-color: #8C1515;
}


.am-nav{background:#3F2F1EB;}
.am-nav {margin:0;padding:0;list-style-type:none}
.am-nav li{float:left}
.am-nav li a{
display: block;
padding: 0px 11px;
color: #2E2D29;
line-height: 2em;
font-size: 16px;}

.am-nav li a:hover{text-decoration:none;border-bottom:2px solid #2E2D29}


.am-nav-bg{background:#F2F1EB;height: 33px;}

/********SECTION- SLIDER**********/

.margin-top{margin-top:10px}
.am-ol-bg{background:#00beeb}

.carousel-indicators{top:422px;}
.carousel-indicators li {
   
    border: 1px solid #8C1515;
	height:13px;
	width:13px;
  
}

.carousel-indicators .active{background:#8C1515;height:13px;
	width:13px;}
	
/********SECTION- 1st section**********/

.margin-top-md{margin-top:20px;}

.day{font-size:24px;}
.timestamps{color:#666;font-size:12px;}
.text p{font-size:15px}
.text p:hover{text-decoration:underline;color:#8B1515}
.event{margin-bottom:5px;clear:both}

.amlinks a{color:#616161}
.amlinks a:hover{color:#8B1515}

.well{background:#F2F1EB}
.am-btn i{color:#000}
.am-btn a{ background: #d5d0c0 none repeat scroll 0 0;
    border-radius: 4px;
    color: #797c80;
    display: block;
    margin-bottom: 11px;
    padding: 6px;
    width: 164px;}
.am-btn a:hover{background:#000;color:#fff;text-decoration:none}
.am-btn i:hover{color:white}


.footer-main{padding:20px;}
.footer-bg{background:#8B1515}
.footer-bg img{width:105px;height:49px}
.footer-content{}
.footer-links{margin-left:35px;}
.footer-links p{color:white;margin-left:10px;font-size:10px}
.footer-links a{color:white;padding:0px 10px;}

.am-well{margin-bottom:0px;}

.social-icons{
	border-radius: 32%;
    color: white;
    cursor: pointer;
    font-size: 19px;
    margin-right: 6px;
    margin-top: 29px;
    padding: 10px
}
.social-color-fb{background:#425F9C}
.social-color-twitter{background:#2AA9E0}
.social-color-google{background:#DF5138}
.social-color-youtibe{background:#DB2624}
.social-color-instagram{background:#125688}